@import "preview.css";
@import "park.css";
@import "weather.css";
@import "eateries.css";
@import "attractions.css";

html, body {
    height: 100%;
    margin: 0;
    font-family: 'Enriqueta', 'Times New Roman', Times, serif;
  }

.banner  {
    display: flex;
    color: rgb(168, 194, 218);
    text-shadow: 1px 1px #2d609b, 
        2px 2px #856fb9, 
        3px 3px #9b73dd;
    flex-direction: row;
    justify-content: start;
    align-items: flex-end;
    background-color: #000000;
    background-image: url(../images/banner3_lg.jpg); 
    background-size: cover;
    background-repeat: no-repeat;
    width: 99%;
    height:12%;
    margin: 0 3px 3px 3px;
    padding: .5em;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    
}

.container__main {
    display: flex;
    color: dimgrey;
    flex-flow: column;
    background-color: #404a58;
    width: 99%;
    height:100%;
    margin: 0 4px 4px 4px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
}

.container__upper {
    display: flex;
    flex-wrap: row wrap;
    justify-content: space-evenly;
    width: 100%;
    height: auto;
    border-radius: 4px;
}

.container__left {
    height: 92%;
    flex: 5;
    display: flex;
    flex-direction: column;
}

.container__left__upper, .header__left__upper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex: 7.1;
    width: 100%;
    margin: .2vh .2vw;
    background-color: inherit;
    height: auto;
    position: relative;
    border-radius: 4px;
}

.header__upper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: darkgray ;
    font-size: 1.2vw;
   
}

.instructions__header__parks {
    flex: 0 25%;
    padding: .5vh 0 0 .5vw;
    margin: .2vh .2vw;
    box-sizing: border-box;
    box-shadow:0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19);
    border-radius: 5px;
 }
.instructions__header  {
    flex: 0 23.5%;
    padding: .5vh 0 0 .5vw;
    margin: .2vh .2vw;
    box-sizing: border-box;
    box-shadow:0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19);
    border-radius: 5px;
}

.instructions__header__itineraries  {
    flex: 0 21%;
    padding: .5vh 0 0 .5vw;
    margin: .2vh .2vw;
    box-sizing: border-box;
    box-shadow:0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19);
    border-radius: 5px;
 
}



.attractions__list, .eateries__list {
    flex: 0 33%;
    padding: .5vh 0 0 .5vw;
    margin: .2vh .2vw;
    font-size: 1.5vw;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    height: auto;
}

.parks__list {
    flex: 0 35%;
    padding: .5vh 0 0 .5vw;
    margin: .2vh .2vw;
    font-size: 1.5vw;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    height: auto;
}

select {
    max-width: 70%;
    padding: 0 .3vw 0 .3vw;
    height: 20%;
    background: 0;
    text-align: left;
    vertical-align: middle;
    font-size: .9vw;;
    margin-bottom: 1em;
    border-radius: 5px;
}

.container__right__upper  {
    display: inline;
    justify-content: center;
    color: dimgray;
    font-size: 1.5vw;
    height: auto;
    flex: 2.02;
    margin: .2vh .2vw;
    border: 1px dotted darkgrey;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    overflow: auto;
    
}




.container__right__upper h4 {
    padding: 0 0 0 .5vw; 
    font-weight: 500;
}



.container__left__lower {
    color: aliceblue;
    display: flex;
    flex-direction: column;
    flex: 7;
    height: 99%;
    margin: .2vh .2vw;
    padding: 0;
    border: 2px solid #ccc;
    border-radius: 4px;
    overflow: auto;
    background-color: #404a58;
}

.container__left__lower h4 {
    padding-left: 1em;
}



/*
.hidden__details {
    display: none;
}*/


  
  .modal {
      color: aliceblue;
      display: flex;
      justify-content: flex-end;
      height: auto;
  }
  /* Modal Body */
  .modal-body {padding: 2px 16px;}
  
  /* Modal Footer */
  .modal-footer {
    padding: 2px 16px;
    color: white;
  }

.model.closed {
    display: none;
}
.modal__eatery__details {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: auto; /* Sit on top */
    left: 20px;
    top: 150px;
    padding: 1vh 1vw;
    width: 90%; /* Full width */
    height: auto; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    border: 3px solid #4b5e65;
    color: aliceblue;
    background-color: #404a58;
    border-radius: 10px;
  }

.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
 }

 .div__close {
     display: flex;
     justify-content: flex-end;
     
 }

 .wheelchairAccessibleCheckbox {
    max-width: 70%;
    padding: 0;
    height: auto;
    background: 0;
    text-align: left;
    vertical-align: middle;
    font-size: .8vw;;

 }

.accessible {
    max-width: 70%;
    padding: 0 .3vw 0 .3vw;
    height: auto;
    background: 0;
    text-align: left;
    vertical-align: middle;
    font-size: .8vw;
    margin-bottom: 2em;
   border-radius: 5px;
}

 .button__saveItinerary {
    width: 15vw;
    height: 10vh;
    border-radius: 10px;
    border: 5px solid palegoldenrod;
    color: aliceblue;
    background-color: #4b5e65;
}

.container__lower {
    display: flex;
    width: 100%;
    height: 80%;
}

.container__right__lower {
    height: auto;
    flex: 2;
    margin: .2vh .2vw;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    overflow: auto;
}
.aside__saved__itineraries {
    display: flex;
    flex-direction: column;
    background-color: #404a58;
     padding:0.01em 16px;
     box-shadow:0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19);
     border-radius: 5px;
     padding: 12px 20px;
     margin: .2vh .2vw;
     overflow: scroll;

  }

.section__itinerary__card {
    flex: 0 0 30%;
    box-sizing: border-box;
    box-shadow:0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19);
    background-color: #466281;
    padding: 12px 20px;
    margin: .2vh .2vw;
    border-radius: 5px;
    
}

  .header__itinerary__card {
    color:dimgray;
    background-color:#f1f1f1;
    border-radius: 5px;
  }

  .content__itinerary__card {
    color: aliceblue;
    padding:0.01em 10px;
    margin-top:10px;
    margin-bottom:10px;
  }
 

.park__pic {
    max-width: 70vw;
    width: 60%;
    height: auto;
    box-sizing: border-box;
    box-shadow:0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19);
    border-radius: 10px;
}
  footer {
    display: flex;
    color: dimgrey;
    background-color: #000000;
    background-image: url(../images/banner3_lg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    flex-flow: column;
    width: 99%;
    height:12%;
    margin: 0 3px 3px 3px;
    padding: 0 .5em .5em .5em;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    justify-content: center;
  }

.wheelchairHighlight {
    background-color: #2d609b;
}

.hidden__details{
    display: none;
}

.event__details {
    color: aliceblue;
    font-size: 1vr;
}