@import "weather.css";

html, body {
    height: 100%;
    margin: 0;
    font-family: 'Enriqueta', 'Times New Roman', Times, serif;
  }

.banner  {
    display: flex;
    color: rgb(168, 194, 218);
    text-shadow: 1px 1px #2d609b, 
        2px 2px #856fb9, 
        3px 3px #9b73dd;
    flex-direction: row;
    justify-content: start;
    align-items: flex-end;
    background-color: #000000;
    background-image: url(../images/banner3_lg.jpg); 
    background-size: cover;
    background-repeat: no-repeat;
    width: 99%;
    height:20%;
    margin: 0 3px 3px 3px;
    padding: .5em;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    
}

.container__main {
    display: flex;
    color: dimgrey;
    flex-flow: column;
    width: 99%;
    height:100%;
    margin: 0 4px 4px 4px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
}

.container__upper {
    display: flex;
    flex-wrap: row wrap;
    justify-content: space-evenly;
    width: 100%;
    height: 15%;
}

.container__left {
    height: 92%;
    flex: 5;
    display: flex;
    flex-direction: column;
}

.container__left__upper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex: 7;
    width: 100%;
    margin: .2vh .2vw;
    background-color: #f8f8f8;
    height: auto;
    position: relative;
    

}

.container__right__upper {
    display: inline;
    justify-content: center;
    color: dimgray;
    font-size: 1.5vw;
    height: auto;
    flex: 2;
    margin: .2vh .2vw;
    border: 1px dotted darkgrey;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    overflow: auto;
    
}

.container__right__upper h4 {
    padding: 0 0 0 .5vw; 
    font-weight: 500;
}

.attractions__list, .eateries__list {
    flex: 0 31%;
    width: 31%;
    padding: .5vh 0 0 .5vw;
    margin: .2vh .2vw;
    font-size: 1.5vw;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    height: auto;
}

.parks__list {
    flex: 0 35%;
    padding: .5vh 0 0 .5vw;
    margin: .2vh .2vw;
    font-size: 1.5vw;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    height: auto;
}

select {
    max-width: 70%;
    padding: 0 .3vw 0 .3vw;
    height: 20%;
    background: 0;
    text-align: left;
    vertical-align: middle;
    font-size: .9vw;;
    margin-bottom: 1em;
    border-radius: 5px;
}

.container__left__lower {
    
    display: flex;
    flex-direction: column;
    flex: 7;
    margin: .2vh .2vw;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    overflow: auto;
    
}

.container__left__lower h4 {
    padding-left: 1em;
}

.preview__main {
    margin: .2vh .2vw;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    overflow: scroll;
}

.preview__parks, .preview__attractions, .preview__eateries {
    flex: 0 33%;
    padding: 12px 20px;
    margin: .2vh .2vw;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;

}

.button__details {
    display: flex;
	align-items: center;
	justify-content: center;
	height: 70px;
	width: 70px;
	border-radius: 50%;
	border: none;
	transform: rotateX(45deg);
	box-shadow: 0px 10px 5px rgba(0, 0, 0, .3);
	cursor: pointer;

}

.button__details:active {
    transform: scale(.8);
    transition-duration: .5s;
    box-shadow: none;
}

/*
.hidden__details {
    display: none;
}*/

/* Modal Content/Box */
/* Modal Header */
.modal-header {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
  }
  
  /* Modal Body */
  .modal-body {padding: 2px 16px;}
  
  /* Modal Footer */
  .modal-footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
  }

.modal__eatery__details {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: auto; /* Sit on top */
    left: 0;
    top: 0;
    padding: 1vh 1vw;
    width: auto; /* Full width */
    height: auto; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    border: 3px solid #4b5e65;
    color: aliceblue;
    background-color: #2d609b;
    border-radius: 10px;
  }

.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
 }

 /* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }


.button__saveItinerary {
    width: 15vw;
    height: 10vh;
    border-radius: 10px;
    color: aliceblue;
    background-color: #4b5e65;
}

.container__lower {
    display: flex;
    width: 100%;
    height: 90%;
}

.container__right__lower {
    height: auto;
    flex: 2;
    margin: .2vh .2vw;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    overflow: auto;
}
.aside__saved__itineraries {
    display: flex;
    flex-direction: column;
    background-color: #38547b;
     padding:0.01em 16px;
     box-shadow:0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19);
     border-radius: 5px;
     padding: 12px 20px;
     margin: .2vh .2vw;
     overflow: scroll;

  }

.section__itinerary__card {
    flex: 0 0 30%;
    box-sizing: border-box;
    box-shadow:0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19);
    background-color: #2d609b;
    padding: 12px 20px;
    margin: .2vh .2vw;
    border-radius: 5px;
    
}

  .header__itinerary__card {
    color:dimgray;
    background-color:#f1f1f1;
    border-radius: 5px;
  }

  .content__itinerary__card {
    color: aliceblue;
    padding:0.01em 10px;
    margin-top:10px;
    margin-bottom:10px;
  }
  .attraction__picture {
      width: 60%;
      height: auto;
  }
  .eatery__picture {
    max-width: 20vw;
    width: 60%;
    height: auto;
    box-sizing: border-box;
    box-shadow:0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19);
    border-radius: 10px;
    
}
.park__pic {
    
    width: 60%;
    height: auto;
}
  footer {
    display: flex;
    color: dimgrey;
    flex-flow: column;
    width: 99%;
    height:10%;
    margin: 0 3px 3px 3px;
    padding: 0 .5em .5em .5em;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    justify-content: center;
  }