.modal--park {
    color: aliceblue;
    display: flex;
    justify-content: flex-end;
    height: auto;
    background-color: dimgray;
    /* border: 12px solid #38547b ; */
    box-sizing: border-box;
    box-shadow:0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19);
    border-radius: 10px;

}
/* Modal Body */
.modal-body {padding: 2px 16px;}

/* Modal Footer */
.modal-footer {
  padding: 2px 16px;
  color: white;
}

.model.closed {
  display: none;
}
.modal__details--park {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: auto; /* Sit on top */
  left: 20px;
  top: 80px;
  padding: 1vh 1vw;
  width: 80%; /* Full width */
  height: auto; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  color: aliceblue;
  background-color: dimgray;
  border-radius: 10px;
  border: 12px solid black ;
}

.modal__picture {
    display: flex;
    justify-content: flex-end;

}
.modal__attraction__picture {
    opacity: .1;
    max-width: 10vw;
    /* width: 10%; */
    height: auto;
    box-sizing: border-box;
    box-shadow:0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19);
    border-radius: 10px;
}
.modal__content--park {
    font-size: 1vw;
    width: auto;
    padding: 1em;
    background-color: #38547b;
    border: 10px dashed palegoldenrod ;
    box-sizing: border-box;
    box-shadow:0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19);
    border-radius: 10px;

}


.div__close--park {
   display: flex;
   justify-content: flex-end;
   
}

.button__details--park {
    vertical-align: middle;
    height: 70px;
	width: 70px;
	border-radius: 50%;
	border: none;
	transform: rotateX(45deg);
	box-shadow: 0px 10px 5px rgba(0, 0, 0, .3);
    cursor: pointer;
 }

.button__details--park:active {
    transform: scale(.8);
    transition-duration: .5s;
    box-shadow: none;
}